* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.card {
    margin-top: 60px;
}

.margin {
    margin-top: 70px;
}

.ml {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-family: fantasy;
    color: #573b8a;
}

.workout-page-btn {
    color: #fff;
    font-weight: bold;
    background-color: #573b8a;
}

.custom-btn {
    height: 46px; /* Adjust the height to match your input */
    margin-top: 10px;
    width: 110px;
}

.span-btn {
    height: 46px; /* Adjust the height to match your input */
    margin-top: 5px;
    width: 60px;
}
